top; configure terminal;

# configuration generated Thu Dec 22 14:40:50 2016; firmware version 282355

%if% available "user"

user "admin"
  summary "Administrator"
  password-hashed "$1$12345678$kbapHduhihjieYIUP66Xt/"
  access-level privileged
exit

user "dpanda"
  password-hashed "$1$nLw7Vdo.$rOMLqIBxtSKs2LX4efbce."
  access-level privileged
exit

%endif%
